$color-primary: #3dcfd3;
$color-secondary: #6c757d;
$color-white: #FFFFFF;
$color-light: #f9fcff;
$color-danger: #c42828;
$color-green: #26AE61;
$color-dark: #111412;
$color-white-light: #D5FFE7;
$color-footer-background: #24324a;
$bg-color: #F2F7FB;
$form-control-color: #c5bdbd;

$border-card: 1px solid #f1f1f1;
 // src/assets/style/variables.scss
$color-light-gray: #f0f0f0; // Définit une couleur gris clair
// Variables globales
$primary-color: #007bff;
$secondary-color: #f8f9fa;
$btn-padding: 10px 15px;
$border-radius: 8px;

// _variables.scss

$light-gray: #f4f4f4;  // Assurez-vous que cette variable est bien définie
$primary-color: #3498db;
$secondary-color: #2ecc71;
$border-radius: 8px;
// _variables.scss

$white: #ffffff;  // Définir la couleur blanche si ce n'est pas déjà fait
// _variables.scss

$dark-gray: #333333;  // Définir la couleur gris foncé si ce n'est pas déjà fait

// src/assets/style/_variables.scss
$background-color: #f8f9fa; // Remplace par la couleur souhaitée
$primary-color: #007bff;
$secondary-color: #6c757d;
$light-gray: #f1f1f1;
$dark-gray: #343a40;
$white: #ffffff;
$border-radius: 8px;
